 h1  {
 font-family: sans-serif;
 margin: 10px 0;
 font-size: 36px;
 font-weight: normal;
 line-height: 0.5;
 text-align: center;

   color: #FF0000;

 }

h3 {
font-family: sans-serif;
margin: 25px;
font-size: 18px;
text-align: center;
}

body {
font-family: sans-serif;
margin: 25px;
font-size: 16px;
text-align: center;
display: block;
}



.photo-1 {
max-width: 225px;
height: 225px;
border-radius: 10px;
}

.photo-2 {
max-width: 300px;
margin: auto;
border-radius: 10px;
}

.photo-3 {
max-width: 300px;
margin: auto;
border-radius: 10px;
}

.first {
font-family: serif;
font-size: 12px;
text-align: center;
margin: 25px;
display: block;
}

.credit-2 {
font-family: serif;
font-size: 12px;
text-align: center;
margin: 0;
display: block;
}

.credit-3 {
font-family: serif;
font-size: 12px;
text-align: center;
margin: 0;
display: block;
}



